{% extends "layout.html" %}

{% block title %}Regístrate{% endblock %}

{% block content %}

  <div class="flex justify-center items-center bg-gray-100 py-12 px-4 sm:px-6 lg:px-8 mb-8 ">
    <div class="max-w-md w-full space-y-8">
      <div>
        <h2 class="text-center text-3xl font-extrabold text-gray-900">
          Regístrate
        </h2>
      </div>
    </div>
  </div>

  <div class="min-h-[75vh]">
    <form action="{% url 'register' %}" method="post" class="shadow-lg p-4 max-w-[380px] mx-auto ">
      {% csrf_token %}
      
        <div>
          {{ form.as_table }}
        </div>

        <style>
            th, td {
              border: 1px solid black;
              border-collapse: collapse;
              padding: 5px;
              text-align: left;
            }
            th {
              background-color: #f2f2f2;
            }
            td {
              background-color: #ffffff;
            }
            input[type=text], input[type=password], input[type=email] {
              width: 100%;
              padding: 12px 20px;
              margin: 8px 0;
              display: inline-block;
              border: 1px solid #ccc;
              border-radius: 4px;
              box-sizing: border-box;
            }
            button[type=submit] {
              background-color: #4CAF50;
              color: white;
              padding: 14px 20px;
              margin: 8px 0;
              border: none;
              border-radius: 4px;
              cursor: pointer;
            }
            button[type=submit]:hover {
              background-color: #45a049;
            }
            .cancelbtn {
              width: auto;
              padding: 10px 18px;
              background-color: #f44336;
            }
            .container {
              padding: 16px;
            }
            span.psw {
              float: right;
              padding-top: 16px;
            }
        </style>

      <button type="submit">Regístrate</button>
    </form>
  </div>

{% endblock %}
