{% extends "layout.html" %}

{% block title %}Bienvenido a PAEE{% endblock %}

{% block content %}

  <div class="hero min-h-[91vh] bg-base-200">
    <div class="hero-content flex-col lg:flex-row-reverse">
      <img src="https://i.postimg.cc/50HPTW7k/hj-R2hfe-C7e-Ln-Iqq-Majl-A.png" class="max-w-[230px] sm:max-w-[350px] rounded-lg" />
      <div>
        <h1 class="text-5xl font-bold">Comparte tu conocimiento!</h1>
        <p class="py-6">
          Una pagina donde podras encontrar diversos conocimientos, aporta tu grano y ayuda a la comunidad!
        </p>
        <a href="/recetas" class="btn btn-primary">A encontrar posts!</a>
      </div>
    </div>
  </div>

  <!-- {% include 'componets/divider-welcome.html' %} -->

{% endblock %}
