<div class="">
  <div class="z-10 navbar bg-base-100 max-w-[1000px] mx-auto ">
    <div class="navbar-start">
      <div class="dropdown">
        <label tabindex="0" class="btn btn-ghost lg:hidden">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
        </label>
        <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
          <li><a href="{% url 'welcome' %}">Nosotros</a></li>
          <li><a href="{% url 'recetas' %}">Posts</a></li>

          {% if user.is_authenticated %}
            <li><a href="{% url 'crear-receta' %}">Crear Post</a></li>
          {% else %}    
            <li><a href="{% url 'login' %}">Iniciar sesión</a></li>
            <li><a href="{% url 'register' %}">Registrarse</a></li>  
          {% endif %}

        </ul>
      </div>
      <a href="{% url 'welcome' %}" class="btn btn-ghost normal-case text-xl">PAEE</a>
    </div>
    <div class="navbar-center hidden lg:flex">
      <ul class="menu menu-horizontal px-1">
        <li><a href="{% url 'welcome' %}">Nosotros</a></li>
        <li><a href="{% url 'recetas' %}">Posts</a></li>

        {% if user.is_authenticated %}
          <li><a href="{% url 'crear-receta' %}">Crear Post</a></li>
        {% else %}    
          <li><a href="{% url 'login' %}">Iniciar sesión</a></li>
          <li><a href="{% url 'register' %}">Registrarse</a></li>  
        {% endif %}

      </ul>
    </div>
    <div class="navbar-end">

      {% if user.is_authenticated %}
        {% include 'componets/navbar/nav-user.html' %}
      {% else %}      
      {% endif %}

    </div>
  </div>
</div>